anonymous_enable=YES
local_enable=NO
write_enable=YES
local_umask=022
anon_upload_enable=YES
anon_world_readable_only=YES
hide_ids=YES
anon_mkdir_write_enable=YES
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
chown_uploads=YES
chown_username=ftp
chown_upload_mode=0660
anon_umask=002
xferlog_file=/var/log/vsftpd.log
xferlog_std_format=YES
nopriv_user=ftp
banner_file=/etc/vsftpd/vsftpd.banner
listen=YES
secure_email_list_enable=yes
hide_file=incoming/*
pasv_min_port=32022
pasv_max_port=32031
pasv_address={{ idrftp_public_address }}
seccomp_sandbox=NO
