global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_syslog_dest | default('') | length > 0 %}
  log 127.0.0.1 {{ haproxy_syslog_dest }}
{% endif %}
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
{% if haproxy_version == '1.4' %}
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
{% else %}
        timeout connect 5000
        timeout client 50000
        timeout server 50000
{% endif %}
{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}

{% for front in haproxy_frontends %}
frontend {{ front.name }}
    bind {{ front.address }}
    mode {{ front.mode }}
    default_backend {{ front.backend }}
{%   for frontopt in (front.options | default([])) %}
    option {{ frontopt }}
{%   endfor %}
{%   if front.timeout_client | default('') | length > 0 %}
    timeout client {{ front.timeout_client }}
{%   endif %}
{% endfor %}

{% for back in haproxy_backends %}
backend {{ back.name }}
{%   if back.mode | default('') | length > 0 %}
    mode {{ back.mode }}
{%   endif %}
{%   if back.balance_method | default('') | length > 0 %}
    balance {{ back.balance_method }}
{%   endif %}
{%   for backopt in (back.options | default([])) %}
    option {{ backopt }}
{%   endfor %}
{%   if back.cookie | default('') | length > 0 %}
    cookie {{ back.cookie }}
{%   endif %}
{%   for backend in back.servers %}
    server {{ backend.name }} {{ backend.address }} {% if back.cookie | default('') | length > 0 %}cookie {{ backend.name }}{% endif %} {% if back.check | default(True) %}check{% endif %}

{%   endfor %}
{%   if back.timeout_connect | default('') | length > 0 %}
    timeout connect {{ back.timeout_connect }}
{%   endif %}
{%   if back.timeout_server | default('') | length > 0 %}
    timeout server {{ back.timeout_server }}
{%   endif %}
{% endfor %}
