# {{ ansible_managed }}
# See https://awesome-prometheus-alerts.grep.to/rules
# for useful rules but note the labels may be different
# Remember this is a Jinja2 template processed by Ansible

{% raw %}

groups:

- name: disk space
  rules:

  - alert: DiskSpace20%Free
    expr: (node_filesystem_avail_bytes{mountpoint="/data"} * 100) / node_filesystem_size_bytes{mountpoint="/data"} < 20
    for: 2m
    labels:
      severity: warn
    annotations:
      summary: "Host out of disk space (instance {{ $labels.instance }})"
      description: "Disk is almost full (< 20% left)\n  VALUE = {{ $value }}\n  LABELS: {{ $labels }}"

  - alert: DiskSpace10%Free
    expr: (node_filesystem_avail_bytes{mountpoint="/data"} * 100) / node_filesystem_size_bytes{mountpoint="/data"} < 10
    for: 2m
    labels:
      severity: error
    annotations:
      summary: "Host out of disk space (instance {{ $labels.instance }})"
      description: "Disk is almost full (< 10% left)\n  VALUE = {{ $value }}\n  LABELS: {{ $labels }}"

{% endraw -%}
