[
{% for backend in omero_omeroreadonly_hosts %}
  {
    "host": "{{ omero_haproxy_frontend_omero_host }}",
    "port": {{ omero_haproxy_frontend_omero_offset + loop.index0 | int }}
  }{% if not loop.last %},{% endif %}

{% endfor %}
]
