# Ansible configuration file
# If ansible is executed from this directory it will automatically load
# this file
# See https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
# for all options

[defaults]
roles_path = vendor/

# These tend to be annoying.
retry_files_enabled = False
